nav {
  background-color: #F1F8FC;
}

img {
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}

ul {
  list-style: none;
}

.nav-item {
  font-size: large;
  padding: 1em;
}

.nav-link:hover {
  color: #0074C7 !important;
}

#navbarText {
  position: absolute;
  top: 2em;
  margin-right: 10%;
}

#searchBar {
  margin-top: 5em;
  margin-right: 4em;
}

.form-control {
  display: flex;
  flex-direction: column;
  top: 5em;
}

.form-control input {
  flex: 1;
  margin-bottom: 2em;
  background-color: white;
  height: 2em;
  color: black;
  padding: 1%;
}

.bi {
  background-color: transparent;
  color: black;
  margin-right: 1%;
  margin-top: 0.5%;
  border: none;
  font-size: 1.35em;
}

@media (max-width: 820px) {
  img {
    height: 110px;
    width: 170px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1em;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    z-index: 1;
    padding: 1em;
    width: -moz-max-content;
    width: max-content;
  }
  .nav-item {
    padding: 0.25em;
    margin: 0.3em;
  }
  #searchBar {
    margin-top: 5%;
  }
  .form-control {
    top: 3%;
    width: 60%;
  }
  .form-control input {
    font-size: 1em;
    height: 2em;
    margin-bottom: 1%;
  }
  .bi {
    font-size: 1.25em;
    margin-right: 2%;
    margin-top: 1.5%;
  }
}
@media (width: 1024px) {
  #navbarText {
    margin-right: 20%;
  }
  #searchBar {
    margin-top: 15%;
  }
}
#resultList {
  width: -moz-max-content;
  width: max-content;
}

@font-face {
  font-family: "Graphik";
  src: url("/my-artisan/public/assets/font/Graphik-Regular-Trial.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
  }
}
html, body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Graphik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

h1, h2 {
  text-align: center;
  padding: 0.5em;
  color: #cd2c2e !important;
}

.card {
  width: 80%;
  max-width: 450px;
  box-shadow: 0 5px 15px #384050;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: #0074C7 !important;
}

ol {
  list-style-position: inside;
  text-align: center;
  font-size: larger;
}

.card-title {
  color: #0074C7 !important;
}

#card-list {
  width: 100%;
  max-width: 450px;
  text-decoration: none;
  color: #000000;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bi[class*=star] {
  color: #82b864 !important;
}

form {
  width: 50%;
  margin: auto;
}

.btn {
  background-color: #00497c !important;
}

span {
  color: #384050 !important;
}

.text-box {
  text-align: center;
  margin: auto;
  max-width: 900px;
  border: 2px #000000;
}

footer {
  background-color: #F1F8FC;
  width: 100%;
}
footer h2 {
  text-align: center;
  padding: 0.5em;
}/*# sourceMappingURL=main.css.map */