@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Regular-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex: 1;
}

h1, h2 {
  text-align: center;
}

.card{
  width: 100%;
  max-width: 450px;
}

.link{
  text-decoration: none;
  color: black;
}

#card-list{
  width: 100%;
  max-width: 450px;
}